@viewport{
    zoom: 1.0;
    width: device-width;
}

body{
	background:url(imagens/background.jpg); 
	color:#868686; 	
	font-family: "Open Sans", Helvetica, sans-serif, arial;
	font-size: 1.125em; 
	font-weight: 300; 
	line-height: 1.2222222222em;
	text-align: left; 
	text-shadow:1px 1px 0px #fff; 
}
.center{
	margin: 0 auto; 
	max-width: 1200px; 
	width: 90%; 
}

*/
.clearfix:before, .clearfix:after {
    content: " "; 
    display: table; 
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}



img, picture, video, embed {
    max-width: 100%; 
}
h1, h2{
	color:#000000;
	font-size: 3.3333333333em; 
	font-weight: 800;
	letter-spacing: -0.05em; 
	line-height: 1em; 
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}
h3{
	font-size: 1.7777777778em; 
	font-weight: 300;
	letter-spacing: -0.0625em; 
	line-height: 1.1875em;
	color:#000000;
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}
p{
	font-weight: 300;
	letter-spacing: -0.05555555556em;
}
a, a:link, a:visited{
	color:#FE9380; 
	font-weight:400; 
	text-decoration:none; 
}
a:hover{
	color:#FE5E41;
	text-decoration:underline; 
	text-shadow:none; 
}

header{
	border-bottom: 1px solid #E0E0E0; 
	height:220px;
	width:100%; 
}

header h1 a{
		background:url(imagens/pstars.png) no-repeat; 
		display:block; 
		height:220px; 
		width:200.166666666666665%; 
		position:absolute;
		left:18%;
	}
	

	
nav{
	float:right; 
	margin-top:80px; 
	text-align:right; 
	width:43.3333333333%; 
}
nav ul{
	list-style-type:none; 
}
	nav li {
		display: inline; 
	}
		nav ul li a{
			margin-right: 2.5%; 
		}
		nav ul li:nth-child(5) a{
			margin-right:0px; 
		}
nav a:link, nav a:visited{
	color:#999;
	font-size: 1.2222222222em; 
	font-weight: 300;
	letter-spacing: -0.0909090909em; 
	line-height: 1.18181818182em; 
	display:inline-block;
}
nav a.ativo, nav a:hover{
	color:#FE9380; 
}

.chamada{
	height:290px;
	text-align:center;
	width:100%; 
}
	h2 span{
		font-size: 1em; 
		font-weight: 300;
		letter-spacing: -0.0333333333em; 
		line-height: 1em; 
	}
	.chamada h3 {
		margin: 0 auto;
		width:75%;
	}
	

.container{
	background-color:#000000;
	height: 1190px;
	padding:2.5%; 
	max-width:95%; 
}
.desktop, .tablet, .mobile{
	float:left;
	position:relative;
	text-align:center;
	width:31.57894736842105%; 
}
.desktop, .tablet{
	margin-right: 2.631578947368421%;
}
.mobile{
	background-color:#228B22;
	margin-right:0px;
}
.desktop{
	background-color:#228B22;
}
.tablet{
	background-color:#FF0000;
}

/*imagens*/
.container .desktop figure, .container .tablet figure, .container .mobile figure {
	margin: 15px auto 0px auto; 
	width: 69.44444444444444%;
}


.container h3{
	color:#fff;
	font-size: 1.77777777778em;
	font-weight: 300;
	letter-spacing: -0.0625em;
	margin-bottom: 30px;
	text-shadow:none;
}
.container p{
	background-color:#fff;
	float:left;
	height:930px;
	padding: 1.9444444444444445%; 
	position:absolute;
	width-max:100%; 
	text-align:justify;
	top:225px;
}

span.btn{
	font-size: 1.1111111111em; 
	font-weight: 400;
	letter-spacing: -0.1em; 
	height:27px;
	margin-top: 30px;
	position:absolute;
	right: 1px;
	text-align:center;
	text-shadow:none;
	width:33.33333333333333%; 
}
span.btn a{
	color:#fff;
	padding: 2px 3.333333333333333%; 
}
.desktop span.btn a{
	background-color:#FE9481;
}
.tablet span.btn a{
	background-color:#FCDA92;
}
.mobile span.btn a{
	background-color:#9C8CB9;
}


footer{
	clear:both;
	height: 50px;
	padding: 10px 0px;
	width:100%; 
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}
.copyright{
	float:left;
	margin-left: 2.5%; 
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}
.desenvolvedor{
	float:right;
	text-shadow:0 0 0.2em #F87, 0 0 0.2em #F87;
}


@media screen and (max-width:1200px){
	.chamada h3 {
		font-size: 1.66666666667em; 
	}
	.container h3{
		font-size: 1.55555555556em; 
	}
	.container p{
		height: 170px;
		top:217px;
	}	
}

@media screen and (max-width:960px){
	header h1 a{
		width:37.5%; 
	}
	nav{
		width:62.5%; 
	}
	h2{
		font-size:2.6666666667em; 
	}
	
	
	.chamada {
		height: 250px;
	}
		.chamada h3{
			font-size:1.5em; 
			width:88.54166666666667%; 
		}
	
	.container{
		height: 425px;
		padding:3.125%; 
		width:93.75%; 
	}
		.desktop, .tablet, .mobile{
			width:31.45833333333333%; 
		}
		.container .desktop figure, .container .tablet figure, .container .mobile figure {
			width:66.22516556291391%; 
		}
			.container img{
					height:100px;
				}
		.container h3{
			font-size: 1.6666666667em; 
		}
		.container p{
			font-size: 0.8333333333em; 
			top: 230px;
		}
}

@media screen and (max-width:768px){
	/*cores dos links e H2*/
	h2, a, a:link, a:visited{
	color:#FBCA61; 
}
	a:hover{
		color:#F9AD0F;
}
/*header*/	
	header {
		height:195px;
		text-align:center;
	}
		header h1 a{
			background-position: 57% 0;
			height: 126px;
			margin-bottom: 15px;
			width: 100%;
		}
		nav{
			float:none;
			text-align:center;
			width: 100%;
		}
				nav a.ativo:link, nav a:hover{
				color:#FBCA61; 
			}

	.chamada{
		height:200px;
	}
		h2 {
			font-size: 2.2222222222em; 
		}
		.chamada h3{
			font-size:1.1111111111em; 
		}

	.container{
		background-color:#FCDA92;
		height: 380px;
		padding:3.90625%; 
		width:92.1875%; 
	}
		.desktop, .tablet, .mobile{
			width:31.25%; 
		}
		.container .desktop figure, .container .tablet figure, .container .mobile figure {
			width:62.25%; /
		}
			.container img{
					height:80px;
				}
		.container h3{
			font-size: 1.6666666667em; 
		}
		.container p{
			font-size: 0.7777777778em; 
			height:140px;
			line-height: 1.1428571428em; 
			padding: 2.9166666667%;
			top: 215px;
		}
			span.btn{
				font-size: 1.1111111111em; 
				letter-spacing: -0.1em; 
				height:22px;
				margin-top: 20px;
				position:absolute;
				width:50%;
			}
			span.btn a{
				padding: 2px 3.333333333333333%; 
			}
}

@media screen and (max-width:480px){

*{
	margin:0;
	padding:0;
}
.center{
	width:100%;
}

h2, a, a:link, a:visited{
	color:#9C8CB9; 
}
a:hover{
		color:#745F9A;
}

header {
	border-bottom: none;
	height:auto;
	text-align:center;
}
	header h1 a{
		background-position: 50% 0;
		display:inherit;
		height: 126px;
		width: 100%;
	}

nav{
	clear:both;
}
	nav li {
		background-color: #9C8CB9;
		display:block;
	}
		nav ul li a{
			height: 40px;
			margin: 0 auto;
			padding-top:3px;
			text-align:center;
			text-shadow:none;
			width: 100%;
		}
		nav li a:link{
			color:#fff;
			font-size:1.3888888889em; 
		}
		nav li a.ativo:link, nav li a:hover, nav li a:visited {
			background-color:#745F9A; 
			color:#fff;
			text-decoration:none;
		}
		nav li a.ativo:hover, nav li a.ativo:visited{
			 background-color: #9C8CB9;
		}

.chamada{
	height:130px;
	margin-top:25px;
}
	h2 {
		font-size: 1.4444444444em; 
		letter-spacing:-0.0769230769230769em; 
		margin-bottom: 15px;
	}
	.chamada h3{
		font-size:0.7777777778em; 
	}

.container{	
	background-color:#9C8CB9;
	margin:0;
	padding:0;
	width:100%;
}
	.container .desktop, .container .tablet, .container .mobile{
		float:none;
		height:160px;
		width:100%;
	}
	.container .desktop figure, .container .tablet figure, .container .mobile figure{
		float:left;
		height:160px;
		margin:0;
		padding:0;
		width: 53.125%; 
	}
	.container h3{
		float:left;
		margin-top: 30px;
		width: 46.875%; 
	}	
		.container .desktop figure img, .container .tablet figure img, .container .mobile figure img{
			margin-top:15px;
			width:86.2745098040%; 
		}
	.container p{
		display:none; 
	}

	.copyright, .desenvolvedor{
		float:none;
		margin: 0;
		padding: 0;
		text-align:center;
	}
}

@media screen and (max-width:320px){

	h2, a, a:link, a:visited{
		color:#79E1D5; 
	}
	a:hover{
			color:#2FD0BC;
	}

		nav li {
			background-color: #79E1D5;
		}
			nav li a:link{
			color:#555;
			}
			nav li a.ativo:link, nav li a:hover, nav li a:visited {
				background-color:#2FD0BC; 
				color:#fff;
			}
			nav li a.ativo:hover, nav li a.ativo:visited{
				 background-color: #2FD0BC;
			}

	.chamada{
		height:130px;
		margin-top:20px;
	}
		h2 {
			font-size: 1.1111111111em; 
			margin-bottom: 15px;
		}
		.chamada h3{
			font-size:0.7777777778em; 
		}
	
		.container .desktop, .container .tablet, .container .mobile{
			float:none;
			height:160px;
			width:100%;
		}
		.container .desktop figure, .container .tablet figure, .container .mobile figure{
			float:left;
			width: 100%;
		}
		.container h3{
			display:none;
		}	
		.container p{
			display:none;
		}
}

html {
  font-family: sans-serif; 
  -ms-text-size-adjust: 100%; 
  -webkit-text-size-adjust: 100%; 
}


body {
  margin: 0;
}




article,
aside,
details, 
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary { 
  display: block;
}



audio,
canvas,
progress,
video {
  display: inline-block;
}


audio:not([controls]) {
  display: none;
  height: 0;
}



progress {
  vertical-align: baseline;
}



template, 
[hidden] {
  display: none;
}


a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; 
}



a:active,
a:hover {
  outline-width: 0;
}



abbr[title] {
  border-bottom: none; 
  text-decoration: underline; 
  text-decoration: underline dotted; 
}


b,
strong {
  font-weight: inherit;
}



b,
strong {
  font-weight: bolder;
}



dfn {
  font-style: italic;
}



h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


mark {
  background-color: #ff0;
  color: #000;
}



small {
  font-size: 80%;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}




img {
  border-style: none;
}


svg:not(:root) {
  overflow: hidden;
}




code,
kbd,
pre,
samp {
  font-family: monospace, monospace; 
  font-size: 1em; 
}


figure {
  margin: 1em 40px;
}



hr {
  box-sizing: content-box; 
  height: 0; 
  overflow: visible; 
}



button,
input,
select,
textarea {
  font: inherit; 
  margin: 0; 
}


optgroup {
  font-weight: bold;
}



button,
input { 
  overflow: visible;
}



button,
select { 
  text-transform: none;
}

/

button,
html [type="button"], 
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; 
}


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}



button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}



fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}




legend {
  box-sizing: border-box; 
  color: inherit; 
  display: table; 
  max-width: 100%;
  padding: 0; 
  white-space: normal; 
}



textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; 
  padding: 0; 
}



[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


 

[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}


[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}



::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; 
  font: inherit; 
}